{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-css-modules"
  ],
  "plugins": [
  ],
  "rules": {
    "font-family-no-missing-generic-family-keyword": null
  }
}
