*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  min-height: 100%;
}

#content {
  width:100%;
  height:100%;
  padding:0;
  margin: 0;
}

/*======= table ===========*/
.table-column {
  height: 39px;
  color: #666;
  font-size: 12px;
}

.table-column a{
  color:#5490df;
  text-decoration: none;
}

.table-column a:hover{
  text-decoration: none;
}

.table-column a:visited{
  text-decoration: none;
}

/*======= pagination ===========*/
.common-pagination {
  float: right;
}

/*======= logo ===========*/
.common-logo {
  height: 64px;
  line-height: 64px;
  padding-left: 25px;
  transition: all .3s;
  background: #002140;
  overflow: hidden;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
  }
  h1 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 11px 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

.form-input {
  font-size: 12px;
}

.layout-sider {
  height: 100%;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  position: relative;
  z-index: 10;
  background: #002140;
}
